In [1]:
from data_querier import DataQuerierYF
from config import load_config


configuration = load_config()
data_getter = DataQuerierYF(configuration)

[*********************100%***********************]  505 of 505 completed

2 Failed downloads:
- BF.B: No data found for this date range, symbol may be delisted
- BRK.B: No data found, symbol may be delisted

In [2]:
data_getter.stock_hist

                          Adj Close             Close                         \
                               BF.B BRK.B           A        AAL         AAP
2022-01-03 04:00:00-05:00       NaN   NaN  159.500000  18.180000         NaN
2022-01-03 05:00:00-05:00       NaN   NaN  159.600000  18.200000         NaN
2022-01-03 06:00:00-05:00       NaN   NaN  162.880000  18.230000         NaN
2022-01-03 07:00:00-05:00       NaN   NaN         NaN  18.100000  240.990000
2022-01-03 08:00:00-05:00       NaN   NaN  159.440000  18.120000  239.880000
...                             ...   ...         ...        ...         ...
2022-01-19 13:30:00-05:00       NaN   NaN  141.539993  17.365000  235.300003
2022-01-19 14:30:00-05:00       NaN   NaN  141.250000  17.395000  234.794998
2022-01-19 15:30:00-05:00       NaN   NaN  140.399994  17.309999  234.369995
2022-01-19 16:00:00-05:00       NaN   NaN  140.430000  17.250000  233.540000
2022-01-19 17:00:00-05:00       NaN   NaN         NaN  17.275000  232.240000

                                                                           \
                                 AAPL        ABBV         ABC        ABMD
2022-01-03 04:00:00-05:00  177.890000  135.480000         NaN         NaN
2022-01-03 05:00:00-05:00  178.190000  135.890000         NaN         NaN
2022-01-03 06:00:00-05:00  178.400000  136.050000         NaN  355.000000
2022-01-03 07:00:00-05:00  178.210000  135.850000         NaN         NaN
2022-01-03 08:00:00-05:00  178.350000  135.770000  132.890000  359.170000
...                               ...         ...         ...         ...
2022-01-19 13:30:00-05:00  167.649994  135.929993  133.059998  301.750000
2022-01-19 14:30:00-05:00  167.509995  135.839996  132.830002  301.690002
2022-01-19 15:30:00-05:00  166.210007  135.210007  132.389999  302.359985
2022-01-19 16:00:00-05:00  165.730000  135.010000  132.390000  302.020000
2022-01-19 17:00:00-05:00  165.600000  135.010000         NaN         NaN

                                       ...    Volume                        \
                                  ABT  ...       XEL      XLNX         XOM
2022-01-03 04:00:00-05:00  141.250000  ...       NaN       0.0         0.0
2022-01-03 05:00:00-05:00  141.520000  ...       NaN       0.0         0.0
2022-01-03 06:00:00-05:00  141.400000  ...       NaN       0.0         0.0
2022-01-03 07:00:00-05:00  141.690000  ...       0.0       0.0         0.0
2022-01-03 08:00:00-05:00  141.250000  ...       0.0       0.0         0.0
...                               ...  ...       ...       ...         ...
2022-01-19 13:30:00-05:00  126.410004  ...  362359.0  154984.0   2037477.0
2022-01-19 14:30:00-05:00  126.470001  ...  430608.0  193195.0   4054035.0
2022-01-19 15:30:00-05:00  126.080002  ...  763599.0  481216.0   3261644.0
2022-01-19 16:00:00-05:00  126.050000  ...  452033.0  601781.0  25646842.0
2022-01-19 17:00:00-05:00  126.000000  ...       NaN       NaN         0.0

                                                                            \
                               XRAY       XYL       YUM       ZBH     ZBRA
2022-01-03 04:00:00-05:00       NaN       0.0       NaN       NaN      0.0
2022-01-03 05:00:00-05:00       NaN       NaN       NaN       NaN      NaN
2022-01-03 06:00:00-05:00       NaN       NaN       NaN       NaN      NaN
2022-01-03 07:00:00-05:00       NaN       NaN       NaN       NaN      0.0
2022-01-03 08:00:00-05:00       0.0       0.0       0.0       NaN      0.0
...                             ...       ...       ...       ...      ...
2022-01-19 13:30:00-05:00  103929.0  113640.0  117014.0  141675.0  17635.0
2022-01-19 14:30:00-05:00  132581.0  151338.0  189599.0  215251.0  47308.0
2022-01-19 15:30:00-05:00  228164.0  306038.0  412204.0  346236.0  48649.0
2022-01-19 16:00:00-05:00  184551.0  159173.0       0.0       0.0  25413.0
2022-01-19 17:00:00-05:00       NaN       NaN       NaN       NaN      NaN


                               ZION       ZTS
2022-01-03 04:00:00-05:00       NaN       0.0
2022-01-03 05:00:00-05:00       NaN       0.0
2022-01-03 06:00:00-05:00       NaN       0.0
2022-01-03 07:00:00-05:00       NaN       0.0
2022-01-03 08:00:00-05:00       0.0       0.0
...                             ...       ...
2022-01-19 13:30:00-05:00  174255.0  214186.0
2022-01-19 14:30:00-05:00  145339.0  291011.0
2022-01-19 15:30:00-05:00  432739.0  257834.0
2022-01-19 16:00:00-05:00  173518.0       0.0
2022-01-19 17:00:00-05:00       NaN       0.0

[198 rows x 2527 columns]